{
    "compiler": "modular",
    "name": "little-toy",
    "version": "0.0.0",
    "dependencies": {},
    "alias": {},
    "export": [
        {
            "path": "scripts/index.js",
            "no_version": false
        },
        {
            "path": "styles/index.scss",
            "no_version": false
        }
    ]
}