
@font-face {
  font-family: 'H35';
  src: url('/font/HYQiHeiX4-35J.ttf');
}
@font-face {
  font-family: 'H55';
  src: url('/font/HYQiHeiX4-55J.ttf');
}

html {
  font-size: 100px;
}

.pageWrapper {
  width: 3.75rem;
  height: 6.67rem;
  transform-origin: top left;
  .page {
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    right:0;
  }
}

.font-sf {
  font-family: 'SFPro';
}

.hide {
  display: none;
}

.show {
  display: block;
}

.hidden {
  visibility: hidden;
}


.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button {
  opacity: 0;
  pointer-events: none;
  width: 5px;
}


