@font-face {
  font-family: 'H35';
  src: url('//shared.youdao.com/dict/market/20180211letter/font/fang.ttf');
}

@font-face {
  font-family: 'H55';
  src: url('//shared.youdao.com/dict/market/20180211letter/font/fang.ttf');
}

html {
  font-size: 100px;
}


body {
  padding-top: constant(safe-area-inset-top);   //为导航栏+状态栏的高度 88px
  padding-left: constant(safe-area-inset-left);   //如果未竖屏时为0
  padding-right: constant(safe-area-inset-right); //如果未竖屏时为0
  padding-bottom: constant(safe-area-inset-bottom);//为底下圆弧的高度 34px
}

.pageWrapper {
  width: 3.75rem;
  height: 6.04rem;
  transform-origin: top left;
  .page {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}

.hidden {
  visibility: hidden;
}

.visibility {
  visibility: visible;
}



