
@font-face {
  font-family: 'SFPro';
  src: url('//www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_regular.woff2');
}

html {
  font-size: 100px;
  font-family: "SF Pro SC","SF Pro Display","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;;
}

.pageWrapper {
  width: 3.75rem;
  height: 6.67rem;
  transform-origin: top left;
  .page {
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    right:0;
  }
}

.font-sf {
  font-family: 'SFPro';
}

.hide {
  display: none;
}

.show {
  display: block;
}


